.flashMessageQueue {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    border: thin solid grey;
    max-width: 30rem;
    transition: all 0.5s ease;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.flashMessage {
    border: thin solid black;
    animation: fadein 1s;
    animation: fadeout 10s;
}