* {
    box-sizing: border-box;
}
@import 'modal';
@import 'flashMessageQueue';
@import 'dropdownSelect';
@import 'formelements';

.dashboards-Sidebar {
  border-right: thin solid grey;
  height: 100vh;

  a {
    white-space:normal;
  }
}